.playlist-overview {
    height: 100%;
    width: 100%;
    max-width: 200px;
    z-index: 0;
}

.playlist-overview__wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist-overview__title-wrapper {
    margin: auto;
    width: 100%;
    position: absolute;
}

.playlist-overview__title {
    word-break: break-all;
    white-space: normal;
    width: 80%;
    margin: auto;
}

.playlist-overview__image {
    border-radius: 10px;
    width: 100%;
}