.horizontal-scroll {
    display: flex;
    position: relative;
}

.horizontal-scroll__wrapper {
    display: inline-block;
}

.horizontal-scroll__center{
    width: 90%;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

.horizontal-scroll__left{
    position: absolute;
    height: 100%;
    border: 1px solid black;
    background-color: #eeeeee;
}

.horizontal-scroll__right{
    position: absolute;
    height: 100%;
    right: 0;
    border: 1px solid black;
    background-color: #eeeeee;
}