.image-upload__input {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.image-upload__image {
    width: 200px;
    height: 100px;
    object-fit: contain;
}